ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

input,
textarea,
select {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #666;
  line-height: 1.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 a strong,
h2 a strong,
h3 a strong,
h4 a strong,
h5 a strong,
h6 a strong {
  color: #333;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
}

h2.alt {
  color: #888;
}

h2.alt strong {
  color: #666;
}

h3 {
  font-size: 1.5em;
}

strong,
b {
  font-weight: 300;
  color: #666;
}

em,
i {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
  -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  outline: 0;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

blockquote {
  border-left: solid 0.5em #ddd;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 2em;
}

section,
article {
  margin-bottom: 3em;
}

.row>section,
.row>article {
  margin-bottom: 0;
}

.image img {
  display: block;
  width: 100%;
}

.image.avatar48 {
  width: 48px;
  height: 48px;
  background: #f00;
}

.image.avatar48 img {
  width: 48px;
  height: 48px;
}

.image.fit {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding-left: 0;
}

ul.icons a {
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 0;
}

table td {
  padding: 0.5em 1em 0.5em 1em;
}

table th {
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  color: #fff;
  background: #222729 url("images/overlay.png");
}

table thead {
  background: #444;
  color: #fff;
}

table tfoot {
  background: #eee;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  background-color: #9ececc;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
  background-color: #7eaeac;
}

.icon>.label {
  display: none;
}

#logo {
  position: relative;
  margin: 1.75em 1.5em 1.5em 1.5em;
  min-height: 48px;
  cursor: default;
}

#nav ul li a.active {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  color: #fff;
}

#footer {
	margin-left: 375px;
	text-align: center;
	background-color: #dce3e2;
	padding: 3em 0 4em 0;
	box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
	font-size: 0.8em;
}

#footer .copyright {
	cursor: default;
	margin: 0;
}

#main>section.dark {
	color: #ddd;
	color: rgba(255, 255, 255, 0.75);
}

#main>section.dark strong {
	color: #fff;
	border-color: inherit;
}

#main>section.dark a {
	color: #fff;
	border-color: inherit;
}

#main>section.cover {
	padding: 10em 0;
	background-size: cover;
	background-position: center center;
}

#main>section.one {
	background-color: #81918E;
	background-image: url("../../images/banner.jpg");
}

#main>section.two {
	background-color: #f5fafa;
}

#main>section.three {
	background-color: #ecf1f1;
}

#main>section.four {
	background-color: #e8edec;
}

