blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

a:hover {
  color: #E27689;
  border-bottom-color: rgba(255, 255, 255, 0);
}

br.clear {
  clear: both;
}

section> :last-child,
section>.container,
section:last-child,
article> :last-child,
article>.container,
article:last-child {
  margin-bottom: 0;
}

form ::-webkit-input-placeholder {
  color: #555 !important;
}

form :-moz-placeholder {
  color: #555 !important;
}

form ::-moz-placeholder {
  color: #555 !important;
}

form :-ms-input-placeholder {
  color: #555 !important;
}

form ::-moz-focus-inner {
  border: 0;
}

table tbody tr:nth-child(2n+2) {
  background: #f4f4f4;
}

.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header .icons a:hover {
	color: #fff;
}

#nav ul li a span:before {
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 1.25em;
	line-height: 1.75em;
}

#nav ul li a.active span:before {
	color: #e27689;
}

#footer .copyright li:first-child {
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}


#main>section.dark a:hover {
	border-bottom-color: rgba(255, 255, 255, 0);
}
